


            <a href="/dashboard" class="dropdown-item" >Dashboard</a>
<a href="/posts/create" class="dropdown-item">New Post</a>
    <a href="/posts" class="dropdown-item">My Post</a>
	      <a href="/dashboard/bookmarks" class="dropdown-item">Bookmarks</a>
        <a href="/dashboard/comments" class="dropdown-item">Comments</a>
	
            <a href="/dashboard/edit-profile" class="dropdown-item">Edit Profile</a>

            <a href="/auth/change-password" class="dropdown-item">Change Password</a>
	
            <a href="/auth/logout" class="dropdown-item">Log Out</a>
